<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subcategory creation.</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid text-center">
    <h1>Welcome to our online store!</h1>
</div>
<nav class="navbar navbar-expand-sm bg-dark justify-content-lg-end">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button th:onclick="|window.location.href='@{/logout}'|">Logout</button>
        </li>
    </ul>
</nav>
<h1><span th:text="'Create subcategory for ' + ${category.name}"></span></h1>
<form th:action="@{/admin-panel/save-subcategory/{id}(id=${category.id})}" th:object="${category}" method="post">
    <label for="name">Category name</label>:
    <input type="text" id="name" name="name"/>
    <br />
    <input type="submit" value="Create" />
</form>
<br/><br/>
<table>
    <thead>
    <tr>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="categoryFromParent : ${categoriesFromParent}">
        <td th:text="${categoryFromParent.name}"></td>
        <td><button th:onclick="|window.location.href='@{/admin-panel/edit-subcategory/{id}(id=${categoryFromParent.id})}'|">
            Edit</button></td>
        <td><button th:onclick="|window.location.href='@{/admin-panel/delete-subcategory/{id}(id=${categoryFromParent.id})}'|">
            Delete</button></td>
    </tr>
    </tbody>
</table>
<br/><br/>
<button th:onclick="window.location.href = '/admin-panel/create-category'">Back to category tools</button>
</body>
</html>