<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin tools page</title>
</head>
<body>
<h1>Roles tools</h1>
<button th:onclick="window.location.href = '/admin-panel/create-role'">Roles tools</button>
<h1>Categories tools</h1>
<button th:onclick="window.location.href = '/admin-panel/create-category'">Categories tools</button>
<h1>Product tools</h1>
<button th:onclick="window.location.href = '/admin-panel/create-product'">Products tools</button>
<h1>Manufacturer tools</h1>
<button th:onclick="window.location.href = '/admin-panel/create-manufacturer'">Manufacturer tools</button>
</body>
</html>