<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin tools page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid text-center">
    <h1>Welcome to our online store!</h1>
</div>
<nav class="navbar navbar-expand-sm bg-dark justify-content-lg-end">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button th:onclick="|window.location.href='@{/logout}'|">Logout</button>
        </li>
    </ul>
</nav>
<br>
<h1>Roles tools</h1>
<button th:onclick="window.location.href = '/admin-panel/create-role'">Roles tools</button>
<h1>Categories tools</h1>
<button th:onclick="window.location.href = '/admin-panel/create-category'">Categories tools</button>
<h1>Product tools</h1>
<button th:onclick="window.location.href = '/admin-panel/create-product'">Products tools</button>
<h1>Manufacturer tools</h1>
<button th:onclick="window.location.href = '/admin-panel/create-manufacturer'">Manufacturer tools</button>
<br/><br/>
</body>
</html>