<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
</head>
<body>
<h1>Change password:</h1>
<form th:action="@{/user-panel/change-password}" th:object="${user}" method="post">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <input type="hidden" name="username" th:value="${user.username}"/>
    <input type="hidden" name="firstName" th:value="${user.firstName}"/>
    <input type="hidden" name="lastName" th:value="${user.lastName}"/>
    <input type="hidden" name="address" th:value="${user.address}"/>
    <input type="hidden" name="preferredMessagingChannel" th:value="${user.preferredMessagingChannel}">
    Password: <input type="password" name="password" th:value="${user.password}"/><br />
    <input type="submit" value="Save" />
</form>
<button th:onclick="|window.location.href='@{/user-panel/show-user/}'|">Cancel</button>
</body>
</html>