<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
</head>
<body>
<h1>Change password:</h1>
<form th:action="@{/user-panel/change-password}" th:object="${user}" method="post">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <input type="hidden" name="username" th:value="${user.username}"/>
    <input type="hidden" name="firstName" th:value="${user.firstName}"/>
    <input type="hidden" name="lastName" th:value="${user.lastName}"/>
    <input type="hidden" name="address" th:value="${user.address}"/>
    <input type="hidden" name="preferredMessagingChannel" th:value="${user.preferredMessagingChannel}">
    Password: <input type="password" name="password" th:value="01234567"/><br />
    <input type="submit" value="Save" />
</form>
<button th:onclick="|window.location.href='@{/user-panel/show-user/}'|">Cancel</button>
</body>
</html>