<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Role creation and assigment</title>
</head>
<body>
<h1>Role creation and assigment</h1>
<form th:action="@{/create-role}" th:object="${role}" method="post">
    <label for="name">Role name</label>:
    <input type="text" id="name" name="name"/> <br />
    <input type="submit" value="Create" />
</form>
<br/><br/>
<br/><br/>
<button th:onclick="window.location.href = '/admin-panel'">Back to admin tools</button>
</body>
</html>