<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manufacturer creation and assigment</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid text-center">
    <h1>Welcome to our online store!</h1>
</div>
<nav class="navbar navbar-expand-sm bg-dark justify-content-lg-end">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button th:onclick="|window.location.href='@{/logout}'|">Logout</button>
        </li>
    </ul>
</nav>
<h1>Manufacturer creation</h1>
<form th:action="@{/admin-panel/save-manufacturer}" th:object="${manufacturer}" method="post">
    <label for="name">Manufacturer name</label>:
    <input type="text" id="name" name="name"/> <br />
    <input type="submit" value="Create" />
</form>
<br/><br/>
<table>
    <thead>
    <tr>
        <th>Manufacturer</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="manufacturer : ${manufacturers}">
        <td th:text="${manufacturer.name}"></td>
        <td><button th:onclick="|window.location.href='@{/admin-panel/edit-manufacturer/{id}(id=${manufacturer.id})}'|">Edit</button></td>
        <td><button th:onclick="|window.location.href='@{/admin-panel/delete-manufacturer/{id}(id=${manufacturer.id})}'|">Delete</button></td>
    </tr>
    </tbody>
</table>
<br/><br/>
<button th:onclick="window.location.href = '/admin-panel'">Back to admin tools</button>
</body>
</html>