<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Manufacturer</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid text-center">
    <h1>Welcome to our online store!</h1>
</div>
<nav class="navbar navbar-expand-sm bg-dark justify-content-lg-end">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button th:onclick="|window.location.href='@{/logout}'|">Logout</button>
        </li>
    </ul>
</nav>
<form th:action="@{/admin-panel/save-manufacturer}" th:object="${manufacturer}" method="post">
    <input type="hidden" name="id" th:value="${manufacturer.id}">
    <input type="text" name="name" th:value="${manufacturer.name}">
    <input type="submit">
</form>
</body>
</html>