<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit my account data</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.js"></script>
    <script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid text-center">
    <h1>Welcome to our online store!</h1>
</div>
<nav class="navbar navbar-expand-sm bg-dark justify-content-lg-end">
    <ul class="navbar-nav">
        <li class="nav-item">
            <button th:onclick="|window.location.href='@{/logout}'|">Logout</button>
        </li>
    </ul>
</nav>
<h1>Edit my account data:</h1>
<form th:action="@{/user-panel/save}" th:object="${user}" method="post">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <input type="hidden" name="password" th:value="${user.password}"/>
    Username: <input type="text" name="username" th:value="${user.username}"/> <br />
    First name: <input type="text" name="firstName" th:value="${user.firstName}"/> <br />
    Last name: <input type="text" name="lastName" th:value="${user.lastName}"/> <br />
    Address: <input type="text" name="address" th:value="${user.address}"/> <br />
    <div>Please select your preferred contact method:</div>
    <label for="preferredMessagingChannel">Email</label>
    <input type="radio" id="preferredMessagingChannel" name="preferredMessagingChannel" value="by email">
    <label for="preferredMessagingChannel1">Mail</label>
    <input type="radio" id="preferredMessagingChannel1" name="preferredMessagingChannel" value="by mail"> <br/>
    <br/>
    <input type="submit" value="Save" />
</form>
<button th:onclick="|window.location.href='@{/user-panel/show-user/}'|">Cancel</button>
</body>
</html>